<% if @project.errors.any? %>
  <h2>We have some errors here !</h2>
  <ul>
    <% @project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<!-- 表單 -->

<%= form_for  [:admin, @project] do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>

  <%= f.label :description, "Description" %>
  <%= f.text_area :description %>

  <%= f.label :image, "Photo" %>
  <%= image_tag @project.image, width: '300px' if @project.image? %>
  <%= f.file_field :image %>

  <%= f.submit %>
<% end %>